/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Manrope:wght@500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family: "DM Sans", sans-serif;

  background: #f8fafc;
  color: #111827;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

::selection {
  background: #111827;
  color: #ffffff;
} */

/* ========================================
   GLOBAL RESET
======================================== */

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;

  overflow-x: hidden;
}